{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
    {{parent()}} - Accueil
{% endblock %}

{% block title_banner %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    <div>
        {% for message in app.session.flashbag.get('info') %}
            <p>{{message}}</p>
        {% endfor %}
    </div>
{% endblock %}